.dragon-card-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;
  width: 100%;
  gap: 8px;
  border-bottom: 1px solid;
}

.item-icon {
  display: flex;
  width: 80px;
  height: 80px;
  filter: invert();
  margin-right: auto;

  img {
    align-self: center;
  }
}

.dragon-about {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dragon-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.dragon-name {
  font-size: 20px;
}